

<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="picandtext text-center mb-4">
    <h1 class="fw-bold mb-5">URL Shortener</h1>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="" class="w-50 mb-5">
  </div>
  <form action="/" method="POST" class="text-center w-75">
    <input type="url" placeholder="url" name="url" class="w-75 mb-5 form-control-lg">
    <button type="submit" class="btn btn-outline-primary w-25 btn-lg">Shortener</button>
  </form>
</div>


